@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
.clients-parent-section {
  background-color: #FFFFFF;
}


body{
     background-color: #FFFFFF;
}
:root {
  background-color: #FFFFFF;
}
